<div class="panel panel-default">
    <div class="panel-heading">Search Member</div>
    <form name="searchMemberForm" role="form" ng-submit="">
        <div class="well-sm">
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon2"><i class="glyphicon glyphicon-search"></i></span>
                <input type="text" ng-model="search.member" class="form-control" id="memberName" placeholder="Member Name" />
            </div>
        </div>
    </form>
</div>