<div class="row">
    <div class="col-md-9 col-md-push-3">
        <div class="panel panel-default">
            <div class="panel-heading">Chapters</div>
            <!--
            <div class="panel-body">
                <p>...</p>
            </div>
            -->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date Added</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="chapter in chapters | filter:search.chapter">
                        <td><a href="#/chapter/{{chapter.chapterId}}/{{chapter.name | cleanlink}}/members">{{chapter.name | capitalize}}</a></td>
                        <td>{{chapter.createdOn | date}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-3 col-md-pull-9 affix">
        <!--<div ng-include="'views/partials/add-chapters.html'"></div>-->
        <add-chapters></add-chapters>
        <search-chapter></search-chapter>
    </div>
</div>